@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="toolbar">
    <div id="colors">
        <div class="color" data-color="#000"></div>
        <div class="color" data-color="red"></div>
        <div class="color" data-color="orange"></div>
        <div class="color" data-color="blue"></div>
        <div class="color" data-color="green"></div>
        <div class="color" data-color="white"></div>
    </div>

    <div id="tools">
        <div class="tool" data-tool="0">
            <i class="bi bi-brush-fill h3"></i>
        </div>

        <div class="tool" data-tool="1">
            <i class="bi bi-square h3"></i>
        </div>
    </div>

    <button type="button" id="export" class="btn btn-success">Export to jpeg</button>
</div>

<canvas id="canvas"></canvas>
